body{
    background: #fdfff9;

}
.row{
    width: 90%;
    margin: auto;
}
.card{
    background-color: #ffdc74;
}
.removeRow{
    background-color: #c0b183;
}
.form-check-label::before, 
.form-check-label::after {
top: .8rem;
width: 1.25rem;
height: 1.25rem;
}
.form-check-input{
    width: 20px;
    height: 20px;

}
.inputs{
    width: 400px;
}
.dynamicInputs{
    background-color: #343a40;
    height: 45vh;
    width: 98%;
    position: absolute;
    bottom: 0;
    border-top: 5px solid #ffc107;
    border-radius: 1rem 0 0 0;
    right: 0;
}

.selectType{
    border-radius: 1rem 1rem 0 0;
    width: 300px;

    overflow:hidden;
    background:#cccccc;

}
.selectBox{

    border:20px;
    outline:none;
  }
  .selectedInput{
      width: 50%;

  }
  .saveBtn{
      height: 120px;
      width: 120px;
      background-color: #ffc107 ;
      font-size: 30px;
  }
  .saveBtn:hover{
      background-color: #e6be46;
  }
  .error{
      border: 1px solid crimson;
  }